process.executor = "local"

process {

    withLabel: 'low'  {
        cpus = 4
        memory = '2 GB'
    }

        withLabel: 'medium'  {
        cpus = 8
        memory = '10 GB'
    }

        withLabel: 'high'  {
        cpus = 12
        memory = '20 GB'
    }

        withLabel: 'vhigh'  {
        cpus = 40
        
    }
}