process.executor = "slurm"

process {

    withLabel: 'low'  {
        cpus = 10
        memory = '50 GB'
    }

        withLabel: 'medium'  {
        cpus = 25
        memory = '100 GB'
    }

        withLabel: 'high'  {
        cpus = 40
        memory = '200 GB'
    }

        withLabel: 'vhigh'  {
        cpus = 40
        
    }
}