// Default process resources.
// Applied to all processes unless overridden by a label.
process {
    cpus = 2
    memory = '8.GB'
    time = '4h'
}

// Resources for specific process labels
process {
    withLabel: 'low'  {
        cpus = 10
        memory = '50.GB'
        time = '8h'
    }
    withLabel: 'medium'  {
        cpus = 25
        memory = '100.GB'
        time = '12h'
    }
    withLabel: 'high'  {
        cpus = 40
        memory = '200.GB'
        time = '24h'
    }
    withLabel: 'vhigh'  {
        cpus = 40
        memory = '250.GB' // Using the previous default memory
        time = '48h'
    }
}
